<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="karaev" translate="label" class="a-custom-css-class-to-style-this-tab" sortOrder="500">
            <label>Karaev</label>
        </tab>

        <section id="cat" showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10" translate="label">
            <label>Cats</label>
            <tab>karaev</tab>
            <resource>Karaev_Cats::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="remove" translate="label comment" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Remove existing pictures</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If the setting enable, all product images will be removed before assigning a new picture</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="phrase" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Сat phrase</label>
                    <comment>What the cat phrase would you like to see?</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
